[2013-03-05 15:57] mounirlamouri opened #2 "Improve the README"
Write a small description of the spec, the W3C and how to contribute.

[2013-03-07 13:13] mounirlamouri opened #4 "Remove ApplicationManagement interface"
There is a [discussion going on in the mailing-list](http://lists.w3.org/Archives/Public/public-sysapps/2013Mar/0017.html) and we should consider, _maybe_, removing this interface. If we remove it we could whether add it later or in another specification.

[2013-03-07 13:15] marcoscaceres commented on #4
Added link to discussion thread in the description.

[2013-03-08 10:39] marcoscaceres opened #6 "i18n model is not specified"
The spec currently eludes to an internationalization model, but the behaviour of that model is not specified.

As the current document is based on Firefox OS I've also documented [Firefox OS's internationalization model and outlined some issues](https://gist.github.com/marcoscaceres/5055717) as well as possible solutions. I've presented those issues to [the W3C's i18n WG](http://lists.w3.org/Archi

[2013-03-11 10:46] jplyle opened #9 "Restructure to better explain hosted and packaged applications"
The current specification defines what a 'hosted' application is within the 'packaged applications' section.  It would be better to introduce both in an earlier section, and then have sections for each, specifying in more detail.

I also think this section should come earlier in the document, because many other sections (including the manifest section) change depending on whether it is a packaged

[2013-03-11 10:57] marcoscaceres commented on #9
I agree (see my [rewrite of the abstract](https://github.com/sysapps/runtime/pull/3)).

I've started [early work](http://marcoscaceres.github.com/sysapps/proposals/RunTime-Security/Overview.html) on breaking the two up this already - actually, it's broken into more parts than that.

How I see it is:
1. manifest:
   - Internationalization model.
   - processing rules for each manifest member + how

[2013-03-11 11:05] jplyle commented on #9
Ok.  Your changes to the abstract are a great improvement.

One of the tasks I had intended to do this week was to suggest some wording improvements to Section 9.4, as well.  Should I wait for your changes?  I'm also, as discussed on the mailing lists, planning to update and improve the "Security Requirements for System Applications" text I wrote in January ( http://sysapps.github.com/sysapps/prop

[2013-03-11 11:45] marcoscaceres commented on #9
@jplyle no, please don't wait. I'm currently only focusing on processing the manifest and the i18n model, so there is no risk of overlap. However, is there some way we can coordinate this process a bit better? It would be good to know what section each person is working on and for use to be able to communicate in realtime. Are you on IRC? if so, I'm always on #sysapps on the w3c's IRC server.

[2013-03-11 12:08] jplyle commented on #9
@marcoscaceres Sure.  I've joined the channel.

[2013-03-12 15:37] marcoscaceres opened #12 "Indenting and consistant code style in spec"
I'm wondering if we can run the spec over [HTML5 tidy](https://github.com/w3c/tidy-html5) to give it consistant indenting, etc. Or is something else being used to indent the markup? This will make editing a lot easier.

Right now, I need to write out new proposed text, move it to a new file, run tidy over the file, and copy the beautified code before sending a pull request. Having the original doc

[2013-03-13 14:37] ming-jin commented on #12
Hi @marcoscaceres,

First of all, please fix a typo and tag mismatch error in index.html:

[code]

And then run html5 tidy with following tidy configuration:

[code]

You will see that the whole runtime spec will get tidy-up properly :)

[2013-03-13 16:51] marcoscaceres commented on #12
Excellent, thanks for the config file! I'll wait till the @mounirlamouri has decided which pull requests are going in before fixing the indenting. That will avoid some potential merge conflicts and make the pull requests easier to review.

[2013-03-15 09:39] marcoscaceres opened #14 "Notification of change to navigator.language"
This is a duplicate of: https://www.w3.org/Bugs/Public/show_bug.cgi?id=21289
(Filing this with our group also, in case it's rejected by the WHATWG and we still want it)

Users sometimes need to switch locale settings on their device. When this happens, the value of navigator.language is changed (or should be!). It would be nice if HTML provided some means to be notified that the change had taken p

[2013-03-15 23:00] mounirlamouri commented on #14
There were some ideas to push a Web l10n specification that would add a 'locale-change' event (or something similar) fired to the document object. I am not sure how such a specification would be followed though.

[2013-03-15 23:35] marcoscaceres commented on #14
Do you have any details of who was making the proposal and where?

[2013-03-25 15:47] jmajnert opened #15 "getSelf, getInstalled, getAll returning "array containing applications""
The runtime spec defines methods ApplicationRegistry::getSelf(), ApplicationRegistry::getInstalled() and ApplicationManagement::getAll() as returning "array containing applications".
 I think the description should explicitly state that it should be an array of Application objects representing the applications.

[2013-03-25 15:48] jmajnert opened #16 "getSelf and getInstalled have the same description"
ApplicationRegistry methods getSelf() and getInstalled() have the exact same description

[2013-03-25 15:49] jmajnert opened #17 "what does the getAll method return"
ApplicationManagement::getAll() method returns "all applications currently in the application registry". What does this mean exactly? What is the application registry? This needs clarification

[2013-03-25 15:59] jmajnert opened #18 "Application Event Types - what are they for?"
The runtime spec defines Application Event Types which are not used anywhere.

[2013-03-25 16:00] jmajnert opened #19 "ApplicationManagement oninstall and onuninstall handler argument"
For the oninstall and onuninstall handlers, the spec says: "The only argument to this function will be the AppObject of the application that was (un)installed".
 The AppObject is not defined in the spec. Should it be Application object or maybe one of the types defined in Application Event Types (please also see issue https://github.com/sysapps/runtime/issues/18  )?

[2013-03-25 16:01] jmajnert opened #20 "Does system message wake an app from a paused state?"
The runtime spec currently says that delivering a system message should launch an application that registered for the message, if it is not already running. What about applications that are in "paused" state? Should they transition into "running" state? IMHO, for consistency, they should.

[2013-03-25 16:01] jmajnert opened #21 ""web notifications" instead of "desktop-notification""
Chapter 9.3 of the runtime spec says "Allow the application to use the Desktop Notification API."

I'm wondering if this shouldn't be "Allow the application to use the Web Notifications API" ?

[2013-04-02 13:53] mounirlamouri opened #22 "Handle Cross Origin XHR for Packaged Applications"
Summary of the discussion in the mailing-list:
http://www.w3.org/wiki/System_Applications_WG:_Cross_Origin_XHR

[2013-04-02 14:14] marcoscaceres commented on #22
Nice summary. I'm for not changing default behaviour of XHR, but allowing faking the origin on privileged applications. I described a potential solution here:

http://lists.w3.org/Archives/Public/public-sysapps/2013Mar/0183.html

[2013-04-02 14:50] mounirlamouri commented on #22
Just to make sure credit is given, the summary has been made by John Lyle, not me.

I think I would prefer a solution along the lines of the one you proposed which is very close to what @sicking proposed too.

[2013-04-02 14:53] marcoscaceres commented on #22
I wonder if we should discuss implications with @annevk also? As Editor of both XHR and CORS, he probably has some helpful views on this.

[2013-04-04 10:00] annevk commented on #22
This does not affect just XMLHttpRequest. This would also affect &lt;img crossorigin>, etc. If you want to introduce a new security model, you have to think it through, and not patch APIs here and there.

[2013-04-04 14:42] marcoscaceres commented on #22
I agree with @annevk and [outlined a similar argument on the list](http://lists.w3.org/Archives/Public/public-sysapps/2013Apr/0033.html).

[2013-04-04 17:01] mounirlamouri commented on #21
This isssue has been fixed by the PR 23. Thanks :)

[2013-04-04 17:01] #21 closed, assigned to mounirlamouri

[2013-04-04 17:02] mounirlamouri commented on #14
For bookkeeping, webl10n repo is there:
https://github.com/fabi1cazenave/webL10n

[2013-04-04 17:11] mounirlamouri opened #24 "Application origin definition should take into account packaged applications"
For the moment, it takes only into account the hosted applications and then later in the text, the origin of a packaged application is defined.

CC: @marcoscaceres @ming-jin

[2013-04-04 18:08] mounirlamouri commented on #2
Fixed by commit 42a18dcbbb.

[2013-04-04 18:08] #2 closed, assigned to mounirlamouri

[2013-04-04 18:11] mounirlamouri commented on #21
For bookkeeping, it has been solved by commit eb36ea023b.

[2013-04-04 18:18] mounirlamouri commented on #19
This has been fixed by commit 257d8ca.

[2013-04-04 18:18] #19 closed, assigned to mounirlamouri

[2013-04-04 19:10] mounirlamouri commented on #18
Fixed by commit 206f997.

[2013-04-04 19:10] #18 closed, assigned to mounirlamouri

[2013-04-04 19:10] mounirlamouri commented on #15
Fixed by commit 860e02a.

[2013-04-04 19:10] #15 closed, assigned to mounirlamouri

[2013-04-07 14:18] marcoscaceres commented on #24
From when I read the spec, I found the two origin types to be fairly clear. I think this will become more clear as we continue to work on this, so I would be fine with closing this for now.

[2013-04-07 14:31] marcoscaceres opened #38 "Spec missing Conformance section"
The spec is currently lacking a conformance section.  As such, RFC2119 keywords are not being applied correctly.

Basically, we just need to add the following text:

I'll send a separate pull request.

[2013-04-08 12:00] #38 closed, assigned to marcoscaceres

[2013-04-09 08:28] mounirlamouri opened #41 "Improve the definition of "packaged application""

[2013-04-09 08:31] mounirlamouri opened #42 "Make clear that the application manifest isn't only for installable apps"
There should be some means to make allow hosted apps to be "auto discoverable" by search engines and user agents.

[2013-04-09 08:38] mounirlamouri opened #43 "Describe the relationship/compatibility/... with Widget"

[2013-04-09 08:41] mounirlamouri commented on #43
Maybe we should do a WG Note for this?

[2013-04-09 08:54] anssiko commented on #42
Re manifest, I'd like to see us provide web developers a clear migration path from "traditional" web applications to "packaged" web applications. I believe that splitting the "Application Manifest" section into its own spec with no dependencies to the rest of the runtime spec would help get currently proprietary <meta> and <link> features standardized for the "traditional" web applications too.

[2013-04-09 09:16] mounirlamouri opened #44 "Launch an installed packaged application"
With a hosted app, when same origin, you can launch() the application. But you can't be same origin with a packaged application so you can't start it from outside the application.

[2013-04-09 09:35] sicking commented on #44
This is currently possible for the website which installed the app. For example a store that installs a packaged app is able to launch that packaged app. This is doable by using getInstalled() to get a reference to the App object for the packaged app, and then calling .launch() on it.

[2013-04-09 10:32] sicking opened #45 "Enable a packaged app to be same-origin with a website"
It's very inconvenient for developers any time cross-origin communication is involved. For example all XHR loads require the server to support CORS, and you can't access the DOM or JS functions inside an <iframe> which contains a cross-origin webpage.

Right now a packaged app is cross-origin to all http:// loaded pages. That means that the developer is exposed to all the cross-origin restrictions

[2013-04-09 10:33] sicking commented on #44
Solving issue #45 might also solve this.

[2013-04-09 10:48] mounirlamouri commented on #6
We should think about RTL/LTR issues.

[2013-04-09 12:47] mounirlamouri opened #46 "Define what should be done when a trusted application is being installed from a non-trusted source"
(I believe we should make the app not trusted.)

[2013-04-09 14:02] kenchris opened #47 "Clarify that screen_size is defined in CSS units"
This is important as the web apps are defined in CSS units and many new devices have dppx != 1.0

[2013-04-09 14:07] kenchris opened #48 "Clarify how screen_size fits together with CSS Device Adaptation @viewport"
Many games want to be fullscreen, and basically just scale the content to fit the screen while keeping the aspect ratio. These things should be possible to accomplish using media queries and CSS Device Adaptation, and it renders the screen_size less useful.

[2013-04-09 14:07] kenchris opened #49 "Clarify how screen_size fits together with CSS Device Adaptation @viewport"
Many games want to be fullscreen, and basically just scale the content to fit the screen while keeping the aspect ratio. These things should be possible to accomplish using media queries and CSS Device Adaptation, and it renders the screen_size less useful.

[2013-04-09 14:31] larsgk commented on #49
+1

You could almost take the rules of fullscreen video and apply here.

Other things to consider:

If keeping aspect ratio - can the dead space then be used for something else?  Maybe we need (then) to be able to tell an element to go fullscreen - but keep aspect ratio.  It can then be aligned up/down or left/right depending on where the dead space is.  Anyway, just a thought.

Also - it would be

[2013-04-09 14:38] mounirlamouri opened #50 "Give a way to clear all system messages registered for a certain type"
It seems that the Telephony API might need that.

[2013-04-09 14:57] draggett commented on #46
On 09/04/13 13:47, Mounir Lamouri wrote:

That makes sense as a default, but what if the app is accompanied with a
certificate acting as a credential from a trusted third party?

Perhaps the origin claimed by the app is trusted, e.g. a well known
website with a solid gold reputation. In this case, we need a way to
verify that the app was issued by that site and hasn't been tampered with.

Perhaps

[2013-04-09 14:58] #48 closed, assigned to nobody

[2013-04-12 06:27] marcoscaceres commented on #43
I think a paragraph or two in the appendix of the document could also work. Much less work for everyone than trying to publish a W3C Note.

[2013-04-12 06:31] marcoscaceres commented on #42
@anssiko I tend to agree that splitting into a separate document would be helpful (though I can live with what we currently have). I have most of the manifest, processing, and i18n model done in a separate doc already.

[2013-04-12 06:34] marcoscaceres commented on #42
It might be helpful to link to this from the spec: http://www.w3.org/community/webappstore/wiki/Manifest

[2013-04-12 07:05] marcoscaceres opened #53 "Small markup issues"
There are some small markup issues in #12 that should be fixed independently of that bug.

[code]

Should also run the current spec over [validator.nu](http://validator.nu).

[2013-04-12 08:03] marcoscaceres commented on #53
Work started...

[2013-04-12 19:46] marcoscaceres commented on #12
So, I've gone through the [options for tidy](http://w3c.github.io/tidy-html5/quickref.html) and all we need in the configuration document is:

[code]

[2013-04-14 14:36] marcoscaceres commented on #47
I've got some text for this that I will push soon.

[2013-04-15 13:25] mounirlamouri commented on #44
On 09/04/13 11:35, Jonas Sicking wrote:

The idea was to have any application being same-origin to be able to
launch the application, not only the store.

#45 might indeed fix this.

[2013-04-15 18:11] marcoscaceres opened #57 "Clarify concept of system messages and guarantee of delivery"
[On the mailing list](http://lists.w3.org/Archives/Public/public-sysapps/2013Apr/0044.html), @mounirlamouri proposed the following:

[2013-04-15 18:12] marcoscaceres commented on #53
Fixed by merge #54 .

[2013-04-15 18:12] #53 closed, assigned to marcoscaceres

[2013-04-16 06:12] hollobit opened #58 "ZIP reference standard"
"[ZIP] Reference not found."

I think it can be change as below

[ZIP] ISO/IEC NP 21320-1 - Information technology -- Document Container File -- Part 1: Core  URL: http://www.iso.org/iso/iso_catalogue/catalogue_tc/catalogue_detail.htm?csnumber=60101

[2013-04-16 06:17] marcoscaceres commented on #58
I added the Zip ref to Respec's biblio yesterday. Will start working when the next update to respec is released.

[2013-04-16 06:17] #58 closed, assigned to nobody

[2013-04-16 06:39] hollobit opened #59 "Section number and TOC"
Why missed Section number ?  There is no TOC(Table of Contents).

[2013-04-16 07:01] marcoscaceres commented on #59
@hollobit thanks, looking into that now.

[2013-04-16 08:16] mounirlamouri commented on #4
After discussing this in the F2F, the resolution was to not remove this interface for the moment and that we might, maybe move it to another specification if there is such a request.

[2013-04-16 08:16] #4 closed, assigned to nobody

[2013-04-16 08:49] marcoscaceres opened #61 "DOMRequest should be dropped"
Mounir says:

So, DOMRequest should be removed from the spec.

http://lists.w3.org/Archives/Public/public-sysapps/2013Apr/0129.html

[2013-04-16 08:52] mounirlamouri opened #62 "Add a hook that checks if a PR follows HTML5 Tidy"
Maybe this would be a good documentation to start with:
http://developer.github.com/v3/repos/hooks/

CC @marcoscaceres

[2013-04-16 08:52] marcoscaceres commented on #12
closed by #60

[2013-04-16 08:52] #12 closed, assigned to marcoscaceres

[2013-04-16 08:59] marcoscaceres commented on #62
I'm not sure we should use the those, as they are the server side hooks. I think we probably want client side ones:

https://www.kernel.org/pub/software/scm/git/docs/githooks.html

[2013-04-16 09:00] mounirlamouri commented on #49
I'm not sure I understand what the problem is here. I expect screen_size to be 800_600 if the screen has a resolution of 800_600. The fact that there might have some chrome making the content size lower shouldn't matter. Is that what you are asking for? Maybe it should be clarified?

[2013-04-16 09:16] marcoscaceres opened #64 "Application Manifest is underspecified"
Currently lacks processing model for each member of the manifest.

Related to:
https://github.com/sysapps/runtime/issues/6

[2013-04-16 09:18] anssiko commented on #49
The spec currently says: "Those values are only hint for the UA and should not be considered as mandatory restrictions."

What is the main use case you had in mind for the screen_size? Something that is not addressed by @viewport already?

[2013-04-16 09:24] mounirlamouri opened #65 "Update the Acknowledgments list"

[2013-04-16 09:33] #59 closed, assigned to mounirlamouri

[2013-04-16 09:33] mounirlamouri opened #67 "Fix Respec errors"
They are spamming the console log.

[2013-04-16 09:36] marcoscaceres opened #68 "Serving manifest should be defined as a MIME registration"
The section [Serving Manifests](http://runtime.sysapps.org/#serving-manifests) should really be defined in terms of a MIME type registration. This type will need to be registered with IANA.

[2013-04-16 09:58] marcoscaceres commented on #67
ERROR: A custom SotD paragraph is required for your type of document. respec-w3c-common:3
ERROR: Duplicate definition of 'name' respec-w3c-common:3
ERROR: Duplicate definition of 'description' respec-w3c-common:3
ERROR: Duplicate definition of 'url' respec-w3c-common:3
ERROR: Found reference to undefined definition: '[BCP47]' respec-w3c-common:3
ERROR: Found reference to undefined definition: 'app

[2013-04-16 10:44] #16 closed, assigned to mounirlamouri

[2013-04-16 10:44] #17 closed, assigned to mounirlamouri

[2013-04-16 11:47] mounirlamouri opened #72 "Use "noLegacyStyle: true""

[2013-04-16 11:52] marcoscaceres commented on #65
merged in

[2013-04-16 11:52] #65 closed, assigned to mounirlamouri

[2013-04-16 12:15] mounirlamouri opened #73 "System messages should be pluged into the application manifest"

[2013-04-16 14:19] marcoscaceres commented on #73
Can you clarify what you mean by "plugged"?

[2013-04-16 14:43] marcoscaceres opened #74 "App URI scheme section is underspecified"
The app:// URI scheme section of the spec is underspecified. Would be better to just link to http://appuri.sysapps.org/

[2013-04-16 15:40] mounirlamouri opened #75 "DOMRequest has a result property, not a request property."

[2013-04-16 16:07] mounirlamouri opened #76 "Split application manifest outside of the runtime spec"

[2013-04-16 16:13] mounirlamouri commented on #6
Isn't that fixed by #70?

[2013-04-16 16:16] mounirlamouri commented on #74
On 16/04/13 16:43, Marcos Caceres wrote:

Referencing http://appuri.sysapps.org/ LGTM.

[2013-04-16 16:17] mounirlamouri commented on #73
In Firefox OS we have:

[code]

The current spec doesn't say how you register to get system messages.

[2013-04-16 16:25] marcoscaceres commented on #6
sure is :)

[2013-04-16 16:25] #6 closed, assigned to marcoscaceres

[2013-04-16 16:26] marcoscaceres commented on #64
Merged in new text to give a more complete spec.

[2013-04-16 16:26] #64 closed, assigned to marcoscaceres

[2013-04-16 17:38] marcoscaceres opened #79 "i18n - RTL/LTR issues"
The use of JSON may pose some issues for developers wanting to use both RTL/LTR text (e.g., Hebrew or Arabic and english).

[2013-04-16 18:00] marcoscaceres opened #80 "Clarify update aspects of lifecycle"
[Questions from mailing list](http://lists.w3.org/Archives/Public/public-sysapps/2013Apr/0135.html):

And:

[2013-04-16 18:05] marcoscaceres opened #81 "RuntimeInstaller interface needs to be marked as privileged API"
RuntimeInstaller interface is a privileged API and should not be accessed by untrusted application. We should prohibit untrusted application to install other applications. I found no such information is highlighted in the spec.

[2013-04-16 18:11] marcoscaceres opened #82 "Need to clarify installed/uninstalled/updated and multiple RuntimeInstallers"
Unclear behavior if the same application is installed/uninstalled/updated by more than on RuntimeInstaller. Since each system application can access its own RuntimeInstaller via window.runtime.installer, if Foo app initiates an operation to uninstall application, while at the moment, another Bar app also initiates another operation to uninstall the same application, then the expected behavior is n

[2013-04-17 06:35] marcoscaceres commented on #76
Happy to do this.

[2013-04-17 07:12] jmajnert commented on #73
OK. So the setMessageHandler() doesn't actually register for a message? It only sets a handler for messages that the application had previously registered for via the manifest?

[2013-04-17 07:36] hollobit commented on #76
I agree. I think there are many consideration point about application manifest specifications.
- API usage notification using manifest
- more detailed specification
- Application manifest validation
- using another manifest format (e.g. microdata format in HTML)

so I think it would be good to split application manifest.

[2013-04-17 07:45] marcoscaceres commented on #76
@hollobit, I think "application manifest validation" and "using another manifest format" might be out of scope.

With regards to "application manifest validation", this is generally left up to app stores to do. I.e., they won't accept manifests that are missing certain things (e.g., description). See, for example: https://marketplace.firefox.com/developers/validator

However, such validation is fo

[2013-04-17 07:58] marcoscaceres commented on #76
@hollobit can you provide a bit more detail on what you mean by "API usage notification using manifest"?

[2013-04-17 08:05] hollobit commented on #76
@marcoscaceres I figure out as the permission notification on Google Play.

https://play.google.com/store/apps/details?id=com.beaglemap.tranggle&feature=editorial-apps_promotion_apps_outdoor_kr#?t=W251bGwsMSwyLG51bGwsImNvbS5iZWFnbGVtYXAudHJhbmdnbGUiXQ..

THIS APPLICATION HAS ACCESS TO THE FOLLOWING:
SERVICES THAT COST YOU MONEY
DIRECTLY CALL PHONE NUMBERS
Allows the app to call phone numbers witho

[2013-04-17 08:15] hollobit commented on #76
@marcoscaceres   "using another manifest format". I was thinking for Hosted Web Application.
Just for Fully Hosted Web Application (like as general web application), I think a microdata format would be reasonable method to provide simple manifest information.  :P

[2013-04-17 14:54] marcoscaceres opened #84 "Manifest format should support some way of including a splash screen"
(this is a clone of https://github.com/sysapps/sysapps/issues/41. Please see that bug for discussion and proposals)

Various vendors have expressed an interest in having a splash screen for when an app boots up.

Previous attempt at standardising such a thing:

https://dvcs.w3.org/hg/nativeapps/raw-file/tip/splashscreen/Overview.html

It might be good to reopen the discussion on sysapps.

Use case

[2013-04-17 17:07] marcoscaceres commented on #76
@hollobit yes, I can imagine that using Microdata could have worked too ... though there are some advantages to having a single JSON file that can be used/indexed independently of the application itself - the JSON file encapsulates the meta data of the application without needing every HTML page in the application to contain this information also. From that perspective, I think having a separate J

[2013-04-17 17:09] marcoscaceres commented on #76
@hollobit regarding the permission notifications, we discussed that at the F2F. The consensus in the group is that Google Android/Play Store blanket permissions don't work (because users don't understand or read those things - or they only make sense in context). We want to make the APIs "secure by design" :tm: instead.

[2013-04-17 18:10] marcoscaceres commented on #42
@anssiko just a note, we don't want to encourage people to make packaged apps (those should really be reserved for the small subset that need to be put into a zip file). We want to encourage app developers to use hosted web apps instead. To do that, we need to get consensus to add _something_ to HTML to make it easy to associate a manifest with an application. If that fails, I guess we can just ke

[2013-04-17 18:40] marcoscaceres commented on #43
Started work on this...

[2013-04-17 18:45] marcoscaceres commented on #43
anyone interested, it's in this branch:
https://github.com/marcoscaceres/runtime/commits/relationship_to_widgets

I'll throw down some thoughts and try to gather some feedback.

[2013-04-18 01:18] hollobit commented on #84
I think it would be good to add the splash property as supported on BB's configuration.

http://www.w3.org/community/webappstore/wiki/Manifest
https://developer.blackberry.com/html5/documentation/rim_splash_element.html

---- Proposed text ----

3.x splash member

The splash member is an object that represents the image to display on the screen while the application loads.
Paths beginning with "/"

[2013-04-18 09:23] mounirlamouri opened #86 ""hosted web applications" or "hosted applications" should be used, but not both"

[2013-04-18 09:40] marcoscaceres commented on #86
My preference is "hosted web applications", as it makes the bikeshed glitter more in the sun.

[2013-04-18 10:59] marcoscaceres commented on #84
@hollobit thanks for the proposed text. We have not received a lot of demand for this feature from other potential implementers, so it's going to be labelled LATER (thought not sure if we will just put into a LATER milestone or close the bug).

[2013-04-18 11:04] marcoscaceres commented on #47
@kenchris can you please check [3.14 screen_size member](http://runtime.sysapps.org/#screen_size-member) and let me know know if the text is ok?

[2013-04-18 11:06] kenchris commented on #47
Looks good to me!

[2013-04-18 11:07] #47 closed, assigned to marcoscaceres

[2013-04-18 11:23] marcoscaceres commented on #75
Relates to: https://github.com/sysapps/runtime/issues/61

[2013-04-18 11:23] jplyle commented on #76
I support splitting the manifest spec from the runtime spec.  This might even make it possible for an implementation to support the Widget packaging formats but the runtime behaviour and security model.

[2013-04-18 11:39] marcoscaceres commented on #49
Unless I'm missing something, it looks like a hint for the store. I'm of the opinion that `screen_size` thing should be dropped as it leads to bad practice (assumes 1-to-1 pixel display) and will just confuse people. The size of the viewport should be set with `<meta viewport>` and content adapted to fit the available size.

[2013-04-18 22:10] marcoscaceres opened #88 "Definition of required_features is wrong"
required_features is not really to enable features, just to filter out some applications from the stores

[2013-04-18 22:12] marcoscaceres opened #89 "Inconsistant naming of members"
Why are some properties with underscore and some not?
relNotes vs required_features?

[2013-04-19 05:46] hollobit opened #90 "Divide sub-section and insert sub-section-title"
I think it would be good to divide subsection and insert sub-section-title
It would be helpful to reader.

------ Proposed text (subsection number/title) ------

3.1 Validation

------ end ------

Certain error conditions can result in an application manifest being treated as an invalid manifest. An invalid manifest is an application manifest that is deemed to be non-conforming in such a way that

[2013-04-19 05:52] hollobit opened #91 "Change contributor name"
Please change my name from Jonathan Jeon to 전종홍(Jonathan Jeon) in Appendix B. Acknowledgments

[2013-04-19 07:17] jmajnert commented on #89
I guess it has to do with the fact that the document is a merge of two propositions. Anyway, we should use one convention.

[2013-04-19 07:23] jmajnert commented on #88
Do we have a list of features that can be listed as required? How does it correspond to the permissions member? IIRC in BONDI/WAC these two categories were covered by <feature> elements.

[2013-04-19 07:26] marcoscaceres commented on #88
I don't have a list yet, no. I need to investigate how FxOS (or their store) handles this one.

[2013-04-19 07:27] marcoscaceres commented on #91
@hollobit, please fork the spec and send a pull request with this fix.

[2013-04-19 07:47] marcoscaceres commented on #90
I agree. I'm still going to move a lot of stuff around so lots of things need to go into their own sections.

[2013-04-19 09:37] hollobit commented on #91
@marcoscaceres Unfortunately, I'm a novice user to the github system. I'm trying to learn this system now. When I finish my study, I will try to fix it  Thanks for your advice. :)

[2013-04-19 09:37] #91 closed, assigned to nobody

[2013-04-19 13:43] mounirlamouri opened #92 "Move Application.uninstall() to ApplicationManagement"
For security and UI reasons, uninstall() might need to be under ApplicationManagement.

The UI reasons are about how to handle an application uninstalling itself.
The security reasons are that an application that is powned would be able to uninstall various other applications if it can access it application object.

ApplicationManagement being behind a permission and should be used for management

[2013-04-19 14:20] jmajnert commented on #92
Both reasons seem valid to me, so I support this solution.

As for the security reason - it also applies to ApplicationRegistry.install(). A malicious application could potentially install many other malicious apps. Maybe it too should be moved to the ApplicationManagement interface? Or we could at least specify when an application is not allowed to install other applications (in other words, when

[2013-04-19 16:13] #74 closed, assigned to nobody

[2013-04-19 16:15] marcoscaceres commented on #76
...Work started...

[2013-04-20 16:41] hollobit opened #94 "Change not specified references"
It would be good to change the reference information

--------- current text -------
[ECMAScript-MIME]
Reference not found.
[HTML-MIME]
Reference not found.

[JSON]
Reference not found.
[MIME]
Reference not found.

[SNIFF]
Reference not found.
[URL]
Reference not found.

--------- Proposed change -------

[ECMAScript-MIME]
B. Hoehrmann, Scripting Media Types, April 2006,  Internet RFC 4329. URL: h

[2013-04-22 08:00] marcoscaceres commented on #94
Moving to https://github.com/sysapps/manifest/issues/5

[2013-04-22 08:00] #94 closed, assigned to nobody

[2013-04-22 09:28] marcoscaceres commented on #90
Moved to https://github.com/sysapps/manifest/issues/6

[2013-04-22 09:28] #90 closed, assigned to nobody

[2013-04-22 09:29] marcoscaceres commented on #89
moved to: https://github.com/sysapps/manifest/issues/7

[2013-04-22 09:29] #89 closed, assigned to nobody

[2013-04-22 09:31] marcoscaceres commented on #88
Moved to: https://github.com/sysapps/manifest/issues/8

[2013-04-22 09:31] #88 closed, assigned to nobody

[2013-04-22 09:33] marcoscaceres commented on #84
Moved to: https://github.com/sysapps/manifest/issues/9

[2013-04-22 09:33] #84 closed, assigned to nobody

[2013-04-22 09:45] marcoscaceres commented on #79
Moved to: https://github.com/sysapps/manifest/issues/10

[2013-04-22 09:45] #79 closed, assigned to nobody

[2013-04-22 09:47] marcoscaceres commented on #76
Work complete. Waiting as PR.

[2013-04-22 09:48] marcoscaceres commented on #68
Closed by #78

[2013-04-22 09:48] #68 closed, assigned to marcoscaceres

[2013-04-22 09:51] marcoscaceres commented on #49
Moved to: https://github.com/sysapps/manifest/issues/11

[2013-04-22 09:51] #49 closed, assigned to nobody

[2013-04-22 10:04] marcoscaceres commented on #42
Moved to: https://github.com/sysapps/manifest/issues/13

[2013-04-22 10:04] #42 closed, assigned to mounirlamouri

[2013-04-23 19:56] mounirlamouri commented on #81
What is RuntimeInstaller? Isn't that from the Samsung spec?
Our model is to allow any web page to install an application (we use a doorhanger as a confirmation in  Firefox). The spec says that the installation should happen if the UA "allows" the installation [1] which is a bit vague. Maybe it should be clearer? If that is the case, please open another issue.

[1] http://runtime.sysapps.org/#widl-

[2013-04-23 19:56] #81 closed, assigned to nobody

[2013-04-23 19:57] mounirlamouri commented on #82
RuntimeInstaller isn't part of the spec.

[2013-04-23 19:57] #82 closed, assigned to nobody

[2013-04-23 19:57] mounirlamouri commented on #73
Yes.

[2013-04-23 19:59] mounirlamouri commented on #92
We expect the installation request to be started by any web page and the UA should provide the security measures (doorhanger for example) to make sure the user accepted the installation. I do not know if we should be more precise than that but this is out of scope from this bug. If you think we should be more precise, could you open another issue?

[2013-04-24 08:28] marcoscaceres commented on #82
(I think I copied this stuff out of an email? ... don't remember now.)

[2013-04-24 08:39] jmajnert commented on #73
OK. Then I think we should clarify that in the runtime spec. The current text gives no hints as to how registering happens.

Why do you think the system messages should be declared in the manifest? Wouldn't a runtime API for registering/unregistering be enough?

[2013-04-24 08:52] jmajnert commented on #92
What you're saying seems a bit inconsistent to me. You expect the UA to get user's permission to install an app, so it's ok to allow any webpage install any application. On the other hand you are afraid that a powned app might want to uninstall other applications, so you don't expect the UA to get user's permission for uninstalling?

How is uninstalling different that installing in this context?

[2013-04-24 19:25] mounirlamouri commented on #73
We might need a runtime API too but we definitely need something in the manifest so I prefer to delay the JS API for when we will really need it.

I started writing something for that last week. I have to find time to finish it.

[2013-04-24 19:29] mounirlamouri commented on #92
I'm not a security guy but from the top of my head, I think that installing something without user consent as way less impact that uninstalling. If you uninstall all my applications, you will erase all the data that was owned by those applications. If you install new applications, they will unlikely do any harm because of the security model: if they are not privileged, they will not have access to

[2013-04-25 07:35] jmajnert commented on #73
From the example you gave earlier I see that the registration is on a per-document basis - message of type "foo" goes to index.html and "bar" goes to blah.html. Could you please explain what the expected behaviour is if a "bar" message arrives when:
1. Application is not running (its manifest says "launch_path: 'index.html' "). Will the application launch normally and get redirected to blah.html (

[2013-04-25 07:46] jmajnert commented on #92
I'm wondering if it wouldn't be better to have 2 methods for installing applicaitons:
1. ApplicationManagement.install() - for use by privileged applications to install any other application
2. ApplicationRegistry.installSelf() - for any webpage to be able to install itself as a system application. This method would take no parameters and only install the application if the webpage declared the pa

[2013-04-25 07:53] marcoscaceres commented on #92
FWIW, this seems useful.

I personally don't like this dependency on JS. I think applications should only declare themselves as installable (through markup), and the UA provide the UI to do the installation. If the declarative means is supported, I personally can't see a strong reason for there being an install() method to be provided to web regular apps.

[2013-04-25 08:31] jmajnert commented on #92
@marcoscaceres I think it could be useful if the webpage wanted to customise the installation experience. Of course calling installSelf() would only bring up the UA's installation dialog.

[2013-04-25 09:24] marcoscaceres commented on #92
In what way would you envision it customising the experience given the information currently provided by the API?

This is how I think installation and launching would be done (without the hosted application itself ever needing the launch() or install() parts of the API):

Scenario 1 - App Store.
1. user navigates to apps store (either through a web browser or an app store application), browses a

[2013-04-25 09:30] marcoscaceres commented on #92
I think all that hosted web apps may need to know is:
1. Am I running as an installed app? yes/no.
2. What is my localized install name? and possibly a few other little things from the manifest.

Applications management/launching should should be handled by the UA.

[2013-04-25 09:37] draggett commented on #92
On 25/04/13 10:30, Marcos Caceres wrote:

Do apps have read access to their manifest?

Presumably, apps don't have write access to their manifest?

My assumption is that if apps need changes to the manifest, this is
essentially the same as updating the app.

##

Dave Raggett dsr@w3.org http://www.w3.org/People/Raggett

[2013-04-25 09:52] marcoscaceres commented on #92
Yes. They can XHR it. Elsewhere, we are trying to find out exactly which things from the manifest should be exposed to an installed app (e.g., the localized name). Currently don't have a bug for this, but it's something @mounirlamouri have been discussing in IRC.

Correct.

This is also the assumption that the runtime spec makes... this assumption can have really bad consequences for packaged apps

[2013-04-25 10:28] jmajnert commented on #92
@marcoscaceres

I guess this is what I wanted to achieve with installSelf(). As you pointed out this is already doable.

@mounirlamouri Could you please tell us what use cases you foresee that are not covered if we move the install/uninstall into ApplicationManagement interface?

[2013-04-25 11:50] marcoscaceres opened #95 "Title of the spec is a bit misleading"
I think we should change the title of the spec to something else... though I'm still not sure as to what. The problem with the current name is that it has "Web Applications" and the document relates specifically to the security and runtime/lifecycle requirements for packaged and hosted web apps.

[2013-04-25 11:53] marcoscaceres opened #96 "SoTD is missing standard "can change from under you" warning"
We need to add the old disclaimer:

The missing text is one of the reasons Respec is complaining in bug https://github.com/sysapps/runtime/issues/67

[2013-04-25 12:06] marcoscaceres opened #97 "Order the API sections is a bit confusing"
The order of the spec's APIs is somewhat confusing. It should really start with the extensions to the Navigator object, as that gives the reader a better idea as to how the whole API is supposed to be used.

So, I would put them in this order:
1. Extensions to Navigator
2. ApplicationRegistry
3. ApplicationManagement
4. Application.
5. DownloadRequest (though with futures, this no longer applies).

[2013-04-25 14:02] mounirlamouri commented on #92
uninstall() will move to ApplicationManagement.

Regarding install() there is also the case of having any website being able to behave like a store. We shouldn't require special privileges for that to happen and having a .install() method is a solution to make that happen.

[2013-04-25 14:03] #76 closed, assigned to marcoscaceres

[2013-04-25 14:10] mounirlamouri commented on #96
We are missing a `<section id='sotd'>` I believe.

[2013-04-25 14:21] jmajnert commented on #92
Agreed.

Could you please provide a use where this is not doable using the declarative approach?
What I mean is that when the user visits the "store" website and decides to install one of the apps, the store website can navigate them to the relevant application's document, which in turn declares the path to the manifest. The UA takes it from there...

[2013-04-25 16:24] mounirlamouri opened #98 "Make support of multiple applications per origin a MUST"
Conclusion of "Single instance mode vs multiple instances in manifest spec" discussion in the mailing list: http://lists.w3.org/Archives/Public/public-sysapps/2013Apr/0205.html

[2013-04-26 08:43] jmajnert commented on #98
A few issues, to begin discussion:
- Should hosted applications sharing an origin go by the regular Web rules and share resources like localStorage, IDB, cookies etc?

IIRC we agree that applications should be sandboxed from each other.
- Should packaged applications be able to share origin with other web content or with hosted applications?

IIRC Jonas and Marcos found it a good idea, but I haven

[2013-04-26 08:44] jmajnert opened #99 "How is a packaged application identified?"
A single packaged app can be downloaded from different sources, different app stores.
One of the perceived benefits of distributing an app as a package is that the author doesn't have to host any content on the web, can use multiple stores or even distribute via "side-loading".
How can we make an app identifiable for UA's, having the assumption that the manifest may not be hosted in a single place

[2013-04-27 16:58] mounirlamouri commented on #98
We are speaking of running two instance of the same installed
applications so I guess the answer is yes.

It seems that there are use cases where this is needed but I haven't
heard any very good solution yet.

Unless that happens as an side effect from the previous point, I don't
think we should make that happen.

[2013-04-27 17:04] mounirlamouri commented on #92
If you allow installing with navigation like, you don't solve much security problems because users will end up on a blank page that will ask them if they want to install an application. Chances is some will say yes even if they have no idea what is happening. By using the JS API, we allow the web pages to give context (the install is triggered by a button click) so it will improve security and use

[2013-04-27 19:48] jmajnert commented on #92
@marcoscaceres gave some use cases here https://github.com/sysapps/runtime/issues/92#issuecomment-16996651 that don't have the problem you describe.

[2013-04-27 19:57] jmajnert commented on #98
I think we are talking generally. What about instances of completely different installed applications then? Can such apps share origin, local resources, IDB, cookies, localStorage?

[2013-04-28 17:04] mounirlamouri commented on #98
The current runtime spec does not allow that.

[2013-04-28 17:37] jmajnert commented on #98
I though we were discussing how to change the spec?
The title of this issue is: "Make support of multiple applications per origin a MUST" and it is supposed to be a follow up of this message: "http://lists.w3.org/Archives/Public/public-sysapps/2013Apr/0259.html", where Jonas writes: "Two hosted apps can come from the same origin"

Did I get something wrong?

[2013-04-29 07:40] jmajnert commented on #50
It would certainly be useful for any type of system message.

[2013-04-29 08:34] jmajnert commented on #73
I think this issue is also relevant here: https://github.com/sysapps/runtime/issues/20

[2013-04-29 09:27] marcoscaceres opened #100 "Race condition on multiple instances of running app"
Consider two windows of one application. Both have the Application object and registered onpause() handlers.

When a pause event is triggered, which handler will process first?

And if one handler calls exit(), then will the other handler be called before application quit?

This issue may also exist when a management app has got the app's Application object.

[2013-04-29 09:29] marcoscaceres commented on #100
See also/related: https://github.com/sysapps/runtime/issues/98

[2013-04-29 09:42] jmajnert commented on #100
Do we even allow having two windows from the same running application instance open? Note that this is different than having multiple instances of the same application running.

[2013-04-29 15:36] marcoscaceres commented on #100
Firefox OS currently does allow this (window.open() opens another viewport). Can you check in Tizen?

Here is the code I used (for a hosted web app):

[code]

Note that in firefox OS the open() causes the document to be overlaid ontop of the original application.

![Screen Shot 2013-04-29 at 4 34 58 PM](https://f.cloud.github.com/assets/870154/439389/80d6fa4a-b0e2-11e2-856f-4cb76e5303e6.png)

[2013-04-29 15:37] marcoscaceres commented on #100
Note also that I can open both internal and external links.

[2013-04-29 16:53] marcoscaceres commented on #100
(not really related, but interesting: I was able to set "locaStorage" to a value in the window.open("test.html") window and then get it from the application once the pop-up window was closed).

[2013-04-30 12:40] jmajnert commented on #100
In Tizen:
- window.open() opens another viewport, scripts in the originating context keep running
- external links are not blocked
- localStorage works as expected - same origin documents share the same DB

[2013-04-30 14:26] jmajnert commented on #100
Actually, depending on configuration, external links may or may not be blocked or opened in platform browser (separate process, no access to system APIs).

[2013-05-02 10:01] marcoscaceres opened #101 "Update Latest Editor draft link"
http://www.w3.org/2012/sysapps/runtime/

[2013-05-08 07:19] poussa commented on #100
In mobile, the window management is fairly trivial. If you open a new window, it is stacked on top of the old one. And you need to close the topmost window it in order to go back to the 'old/original' window.

However, in desktop the situation is more complex. That is, if window 'A' opens another window 'B', both of the windows can be visible at the same time. Also, the use can close either of the

[2013-05-08 08:26] seanlong commented on #100
IMO the "Application" interface design may make the app development tough in multiple-windows environment.

For instance, an application with multiple windows opened may want to save some log (i.e. application termination time) when terminate. Then every window needs to register the onterminate handler for the Application interface, in order to make sure the callback happens even when other window

[2013-05-08 08:40] seanlong commented on #100
related to #98, in multiple-windows environment what's the difference between a window.open(app_home_page), and a new instance of app with app_home_page? Will the Application interface reference to the same application?

[2013-05-09 10:57] jmajnert commented on #95
So you're proposing to change the "Web Applications" phrase to something different? "System Applications" is not too descriptive, right?

[2013-05-09 11:03] jmajnert commented on #80
For the first issue, I think that if the ApplicationManagement.applyUpdate() is called on a running or paused app, then the app should be terminated and the update should be applied. I'm not sure if we should allow the application to execute its termination callbacks, but I'm leaning towards allowing it.

As for the second issue, auto-update is already possible by checking if the original manifest

[2013-05-09 11:06] marcoscaceres commented on #95
I'll leave it to @mounirlamouri to decide, I think. I still don't have a good suggestion but something along the lines of "System Applications" could work.

[2013-05-09 11:23] jmajnert commented on #50
How about we add a method:

void flushPendingMessages(DOMString type);
Description: "The method MUST remove all messages pending in the pool of messages for the given type"

Would that solve this issue?

[2013-05-09 11:47] jmajnert commented on #46
For hosted apps the issue seems to be simple: if we trust the entity that serves us the manifest, we trust the app itself. In that context I don't quite get it how a trusted app might be installed from an untrusted source. By my understanding the source of the installation is the place that hosts the manifest.

For packaged app OTOH, to solve this issue I think we should first define how an applic

[2013-05-09 12:36] jmajnert commented on #100
You made a really good point here. I think the original design concept was that there can be only one Application object per application, and all references should point to it. In multiple-windows-per-app scenario we run into trouble, as any of the contexts can:
- call the hide() method, which should logically hide all the windows belonging to that app
- register a handler for any of the events, i

[2013-05-09 12:57] jmajnert commented on #98
Section 7 of the runtime spec (http://runtime.sysapps.org/#data-isolation) says that two running application instances should be isolated. At least that's how I understand it.
So to allow two instances of the same application to share resources, we should clarify this section to distinguish between "running application instances" and "installed applications", or something similar.

[2013-05-09 13:35] jmajnert commented on #92
Why would that happen? As I understand, a UA first fetches at least the headers of the document that it is navigated to? At that point the UA may decide to cancel navigation and show an installation dialog. This is similar to UA showing a download dialog when it gets navigated to a file that cannot be rendered directly.
IMHO it is completely possible to give context to installation without a JS AP

[2013-05-09 17:16] marcoscaceres commented on #101
closed by: https://github.com/sysapps/runtime/pull/102

[2013-05-09 17:16] #101 closed, assigned to nobody

[2013-05-10 06:10] seanlong commented on #100
Agree. I think maybe that's why Chromium has [event page](http://developer.chrome.com/trunk/extensions/event_pages.html) for its packaged app.

Then how about Application interface for multiple application instances? How to identify which Application refer to which instance?

[2013-05-10 07:33] jmajnert commented on #73
We should also consider multi-window scenarios as in #100

[2013-05-10 07:36] jmajnert commented on #100
Yes. This interface and system message handling fits nice with the event page concept

[2013-05-10 12:40] poussa commented on #100
Chrome event page model for the packaged apps is handling the multi-windows case nicely. I think we should take a look of that and learn from it.

[2013-05-13 10:54] marcoscaceres opened #103 "App URI should be RECOMMENDED but not required."
[From the mailing list](http://lists.w3.org/Archives/Public/public-sysapps/2013May/0044.html):

[2013-05-14 13:09] jmajnert commented on #50
Proposed the above change in pull request https://github.com/sysapps/runtime/pull/104

[2013-06-20 07:34] hmin commented on #100
@poussa I am studying the design principle of multiple window support in combination with chrome event page, and will work out an investigation report.

[2013-06-20 07:38] marcoscaceres commented on #100
@hmin @poussa yeah, we are thinking the same thing over on the Moz side. See [@annevk's email](http://lists.w3.org/Archives/Public/public-webapps/2013AprJun/0946.html) on public-webapps.

[2013-06-20 09:42] jmajnert commented on #50
@mounirlamouri WDYT? If this is ok with you, could we merge it before #105 ?

[2013-06-27 08:05] jmajnert opened #106 "Application event handlers exposed in another app's context"
Let's consider that application MyAppStore installs another app - MyApp.
Now, in MyAppStore we request all installed apps by calling navigator.app.getInstalled() and then get a reference to the Application instance representing MyApp. Then we do:

myapp.onlaunch=myAppStoreFunction();
myapp.launch()

Questions:
1. Should myAppStoreFunction() be executed in MyAppStore?
2. Assuming MyApp declares its

[2013-08-21 12:53] opoto commented on #92
I'm not sure this discussion should be continued here, as it drifted away from the issue title... but I would not want to lose the context.
The installation scenarios described by @marcoscaceres [here](https://github.com/sysapps/runtime/issues/92#issuecomment-16996651) seem sufficient for our needs. The installSelf() method does not appear to be necessary, and install() should go to ApplicationMan

[2015-03-02 13:29] jmajnert commented on #106
Not relevant anymore

[2015-03-02 13:29] #106 closed

[2015-03-02 13:29] jmajnert commented on #99
Not relevant anymore

[2015-03-02 13:29] #99 closed

[2015-03-02 13:29] jmajnert commented on #20
Not relevant anymore

[2015-03-02 13:29] #20 closed